body {
  padding: 50px;
  background-color: #667829;
}

h1 {
  text-align: center;
  font-size: 35px;
}

.happy-form {
  text-align: center;
  font-size: 15px;
}

.users-list-ul {
  text-align: center;
  list-style-type: none;
  font-size: 25px;
  background-color: lightgray;
  padding: 10px 10px;
  border-radius: 15px;
}

.list-li {
  color: dimgray;
  padding: 10px 10px;
}

input {
  background-color: darkgray;
  margin: 10px 5px;
}